[submodule "3dns-private"]
	path = 3dns-private
	url = https://bioproj.extra.cea.fr/git/3dns-private
[submodule "aims-free"]
	path = aims-free
	url = https://github.com/brainvisa/aims-free
[submodule "aims-gpl"]
	path = aims-gpl
	url = https://github.com/brainvisa/aims-gpl
[submodule "anatomist-free"]
	path = anatomist-free
	url = https://github.com/brainvisa/anatomist-free
[submodule "anatomist-gpl"]
	path = anatomist-gpl
	url = https://github.com/brainvisa/anatomist-gpl
[submodule "axon"]
	path = axon
	url = https://github.com/brainvisa/axon
[submodule "bioprocessing"]
	path = bioprocessing
	url = https://bioproj.extra.cea.fr/git/bioprocessing
[submodule "brainrat-gpl"]
	path = brainrat-gpl
	url = https://bioproj.extra.cea.fr/git/brainrat-gpl
[submodule "brainrat-private"]
	path = brainrat-private
	url = https://bioproj.extra.cea.fr/git/brainrat-private
[submodule "brainvisa-cmake"]
	path = brainvisa-cmake
	url = https://github.com/brainvisa/brainvisa-cmake
[submodule "brainvisa_freesurfer"]
	path = brainvisa_freesurfer
	url = https://github.com/brainvisa/brainvisa_freesurfer
[submodule "brainvisa-share"]
	path = brainvisa-share
	url = https://github.com/brainvisa/brainvisa-share
[submodule "brainvisa-spm"]
	path = brainvisa-spm
	url = https://github.com/brainvisa/brainvisa-spm
[submodule "capsul"]
	path = capsul
	url = https://github.com/populse/capsul
[submodule "casa-distro"]
	path = casa-distro
	url = https://github.com/brainvisa/casa-distro
[submodule "catidb-client"]
	path = catidb-client
	url = https://github.com/cati-neuroimaging/catidb-client
[submodule "catidb-server"]
	path = catidb-server
	url = https://github.com/cati-neuroimaging/catidb-server
[submodule "cati-auth"]
	path = cati-auth
	url = https://github.com/cati-neuroimaging/cati-auth
[submodule "constellation-gpl"]
	path = constellation-gpl
	url = https://github.com/brainvisa/constellation-gpl
[submodule "constellation-nonfree"]
	path = constellation-nonfree
	url = https://github.com/brainvisa/constellation-nonfree
[submodule "cortical_surface-gpl"]
	path = cortical_surface-gpl
	url = https://github.com/brainvisa/cortical_surface-gpl
[submodule "cortical_surface-nonfree"]
	path = cortical_surface-nonfree
	url = https://github.com/brainvisa/cortical_surface-nonfree
[submodule "disco"]
	path = disco
	url = https://bioproj.extra.cea.fr/git/brainvisa-disco
[submodule "highres-cortex"]
	path = highres-cortex
	url = https://github.com/neurospin/highres-cortex
[submodule "longitudinal_pipelines"]
	path = longitudinal_pipelines
	url = https://github.com/cati-neuroimaging/longitudinal_pipelines
[submodule "morpho-deepsulci"]
	path = morpho-deepsulci
	url = https://github.com/brainvisa/morpho-deepsulci
[submodule "morphologist-baby"]
	path = morphologist-baby
	url = https://bioproj.extra.cea.fr/git/brainvisa-t1mri/morphologist-baby
[submodule "morphologist-gpl"]
	path = morphologist-gpl
	url = https://github.com/brainvisa/morphologist-gpl
[submodule "morphologist-nonfree"]
	path = morphologist-nonfree
	url = https://github.com/brainvisa/morphologist-nonfree
[submodule "morphologist-ui"]
	path = morphologist-ui
	url = https://github.com/brainvisa/morphologist
[submodule "nuclear_imaging-gpl"]
	path = nuclear_imaging-gpl
	url = https://github.com/cati-neuroimaging/nuclear_imaging-gpl
[submodule "nuclear_imaging-nonfree"]
	path = nuclear_imaging-nonfree
	url = https://github.com/cati-neuroimaging/nuclear_imaging-nonfree
[submodule "populse_db"]
	path = populse_db
	url = https://github.com/populse/populse_db
[submodule "preclinical-imaging-iam"]
	path = preclinical-imaging-iam
	url = https://bioproj.extra.cea.fr/git/preclinical-imaging-iam
[submodule "primatologist-gpl"]
	path = primatologist-gpl
	url = https://bioproj.extra.cea.fr/git/primatologist-gpl
[submodule "qualicati"]
	path = qualicati
	url = https://github.com/cati-neuroimaging/qualicati
[submodule "rsfmri"]
	path = rsfmri
	url = https://github.com/cati-neuroimaging/rsfmri
[submodule "sacha-gpl"]
	path = sacha-gpl
	url = https://github.com/cati-neuroimaging/sacha-gpl
[submodule "sacha-nonfree"]
	path = sacha-nonfree
	url = https://github.com/cati-neuroimaging/sacha-nonfree
[submodule "soma-base"]
	path = soma-base
	url = https://github.com/populse/soma-base
[submodule "soma-io"]
	path = soma-io
	url = https://github.com/brainvisa/soma-io
[submodule "soma-workflow"]
	path = soma-workflow
	url = https://github.com/populse/soma-workflow
[submodule "sulci-nonfree"]
	path = sulci-nonfree
	url = https://github.com/brainvisa/sulci-nonfree
[submodule "web"]
	path = web
	url = https://bioproj.extra.cea.fr/git/brainvisa-commu/web
[submodule "whasa-gpl"]
	path = whasa-gpl
	url = https://github.com/cati-neuroimaging/whasa-gpl
[submodule "whasa-nonfree"]
	path = whasa-nonfree
	url = https://github.com/cati-neuroimaging/whasa-nonfree
